


            body {background-color: white;}
            body {font-family: sans-serif;}


            h1 {color: rgb(100, 100, 15);
                font-size: 70px;}
            h2 {color: white;}
            p {color:  gray;}   
            ul {color:  gray;; };

            .song-lyrics { background-color:white; }

            .header{
                background-color: white;
                /* padding: 3px;
                border: 1px solid red; */
                display: flex;
                /* height: 500 vh; */
            }

            .header div{
                background-color: white;
                /* margin: 3px;
                border: 3px solid blue; */
            }
                .header div.leftmargin{ flex: 1;}
                .header div.pos1{ flex: 1; text-align: center;}
                .header div.pos2{ flex: 1; text-align: center;}
                .header div.pos3{ flex: 1; text-align: center;}
                .header div.pos4{ flex: 1; text-align: center;}
                .header div.rightmargin{ flex: 1;}




            .container{
                background-color: black;
                /* padding: 3px;
                border: 5px solid red; */
                display: flex;
                /* height: 500 vh; */
            }

            .container div{
                margin: 3px;
                text-align: left;
                /* border: 10px solid black; */
            }
                .container div.leftmargin{ flex: 1;}
                .container div.column1{ flex: 2;}

                .container div.column2{ flex: 2; }

                .container div.column3{flex: 2;}
                    .up { height:  500px;}
                    .down { 
                        display: flex;
                        height:  200px;
                        background-color:white;
                        filter:alpha(opacity=50);
                        opacity: 0.5;
                        -moz-opacity:0.5;}
                .container div.rightmargin{flex: 1;}
            
            #klawisz1 { 
                margin: 0px; 
                flex: 1;
                background-color: yellow }

            #klawisz2 { 
                margin: 0px; 
                flex: 1;
                background-color: red }

            #klawisz3 { 
                flex: 1;
                margin: 0px; 
                background-color: blue }    
            
                
            .footer{
                background-color: black;
                /* padding: 3px;
                border: 1px solid red; */
                display: flex;
                height: 500 vh;
            }

            .footer div{
                /* margin: 3px;
                border: 3px solid blue; */
            }
                .footer div.leftmargin{ flex: 1;}
                .footer div.pos1{ flex: 1; text-align: center;}
                .footer div.pos2{ flex: 1; text-align: center;}
                .footer div.pos3{ flex: 1; text-align: center;}
                .footer div.pos4{ flex: 1; text-align: center;}
                .footer div.rightmargin{ flex: 1;}
        
            