


            body {background-color: white;}
            body {font-family: sans-serif;}


            h1 {color: rgb(100, 100, 15);}
            h2 {color: white;}
            p {color:  gray;}   
            ul {color:  rgb(0, 250, 0); };

            #pop1 { background-color: red; }
            #pop2 { background-color: purple; }
            .song-lyrics { background-color:white; }

            .header{
                background-color: white;
                /* padding: 3px;
                border: 1px solid red; */
                display: flex;
                height: 500 vh;
            }
                .header div{
                    /* margin: 3px;
                    border: 3px solid blue; */
             
                }
                    .header div.leftmargin{ flex: 1;}
                    .header div.pos1{ flex: 1;}
                    .header div.pos2{ flex: 1;}
                    .header div.pos3{ flex: 1;}
                    .header div.pos4{ flex: 1;}
                    .header div.rightmargin{ flex: 1;}


            .container{
                background-color: black;
                /* padding: 3px;
                border: 5px solid red; */
                display: flex;
                height: 500 vh;
            }
                .container div{
                    /* margin: 3px; */
                    border: 10px solid black;
                }
                    .container div.leftmargin{ flex: 1;}
                    .container div.column1{ flex: 2;}
                    .container div.column2{ flex: 2; }
                    .container div.column3{flex: 2;}
                    .container div.rightmargin{flex: 1;}
                 
     
                .footer{
                    background-color: white;
                    /* padding: 3px;
                    border: 1px solid red; */
                    display: flex;
                    height: 500 vh;
                }
                    .footer div{
                        /* margin: 3px;
                        border: 3px solid blue; */
                
                    }
                        .footer div.leftmargin{ flex: 1;}
                        .footer div.pos1{ flex: 1;}
                        .footer div.pos2{ flex: 1;}
                        .footer div.pos3{ flex: 1;}
                        .footer div.pos4{ flex: 1;}
                        .footer div.rightmargin{ flex: 1;}
        
 